services:
  ghttp:
    image: ghcr.io/tyemirov/ghttp:latest
    container_name: ghttp
    restart: unless-stopped
    volumes:
      - ./web:/web:ro
    command: ["--directory", "/web", "8080"]
    ports:
      - "4173:8080"

  tauth:
    image: ghcr.io/tyemirov/tauth:latest
    container_name: tauth
    restart: unless-stopped
    ports:
      - "8081:8081"
    env_file:
      - .env.tauth

  pinguin:
    build:
      context: .
    container_name: pinguin
    restart: unless-stopped
    depends_on:
      - tauth
    ports:
      - "50051:50051"
      - "8080:8080"
    env_file:
      - .env.pinguin
    volumes:
      - pinguin-data:/app/data
      - ./web:/web:ro


volumes:
  pinguin-data:
